.logo{
    display: flex;
    box-sizing: border-box;
    text-decoration: none;
}

.logo-img{
   height: 8vh;
   width: 8vh;
   position: relative;
   left: 1vh;
   top: 1vh;

}
.logo-title{
    font-size: 4.5vh;
    box-sizing: border-box;
    font-weight: 400;
    position: relative;
    left: 2vw;
    top: 0vh;
    
}
